* {
  box-sizing: border-box;
}
body {
  margin: 0; padding: 0;
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
nav {
  line-height: 2em;
  overflow: hidden;
}
.code-and-results {
  overflow: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.editors, .results {
  -webkit-flex: 1 1 50%;
  -moz-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.group-with-heading {
  position: relative;
  width: 100%;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: 2px solid black;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.editor {
  width: 100%;
}

.group-heading {
  background-color: black;
  text-align: right;
  color: white;
  line-height: 1em;
  padding: 0.5em;
}

.group-with-heading *:last-child {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

#results-group {
  -webkit-flex: 3 1 auto;
  -moz-flex: 3 1 auto;
  -ms-flex: 3 1 auto;
  flex: 3 1 auto;
}
#console-group {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
#results {
  width: 100%;
  zheight: 75%;
  border: 0;
  position: relative;
}
#consoleOutput {
  width: 100%;
  height: 25%;
  background-color: #E0E0E0;
  position: relative;
  overflow: auto;
}

.hidden {
  display: none;
}
