@import "reset";

$font-stack: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
$dp2: "only screen and (-webkit-min-device-pixel-ratio: 1.01 ), only screen and (min-resolution: 1.01dppx), only screen and (min-resolution: 191dpi)";
$tint-color: #EA1;
$tint-active-color: #EEEAE1;
$tint-border-color: #DEDAD1;
$tint-active-color-darker: #CECAC1;
$view-background-color: #EEEAE1;
$list-heading-text-color: #303030;
$ui-text-color: #000000;
$text-color: #3E3A31;

@import "./lib/base";
@import "./lib/button";
@import "./lib/container";
@import "./lib/bar";
@import "./lib/bar-navigation";
@import "./lib/glyphs";
@import "./lib/list";
@import "./lib/alert";

@import "./lib/navigation-view-controller";
@import "./lib/split-view-controller";

@import "./themes/default";

#svg-sprite {
    display: none;
}

.svg-icon, [is='y-svg'] {
  min-width: 44px; // 2rem can be a bit small
  display: inline-flex;
  position: relative;
  fill: currentColor;
  transform: translateZ(0);
  text-align: center !important;
}

.svg-icon svg, [is='y-svg'] svg {
    width: 1.33rem;
    height: 1.33rem;
    padding: 0;
    margin: auto auto;
    flex: 0 0 auto;

    use {
        padding: 0;
        margin: 0;
    }
}

.menu-icon {
    margin-top: -0.25rem;
}

