.theme-default {
  $font-stack: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  $dp2: "only screen and (-webkit-min-device-pixel-ratio: 1.01), only screen and (min-resolution: 1.01dppx), only screen and (min-resolution: 191dpi)";
  $tint-color: #EA1;
  $tint-color-contrast: #A1E;
  $tint-active-color: #EEEAE1;
  $tint-border-color: #DEDAD1;
  $tint-active-color-darker: #CECAC1;
  $view-background-color: #EEEAE1;
  $ui-text-color: #000000;
  $text-color: #3E3A31;
  $lighter-text-color: #6E6A61;
  $alert-background-color: #FFF;
  $bar-light-color: #FFF;
  $list-heading-text-color: #6E6A61;

  font-family: $font-stack;
  color: $ui-text-color;

    @import "../lib/button";
    @import "../lib/container";
    @import "../lib/bar";
    @import "../lib/bar-navigation";
    @import "../lib/glyphs";
    @import "../lib/list";
    @import "../lib/alert";
    @import "../lib/svg";

    @import "../lib/navigation-view-controller";
    @import "../lib/split-view-controller";

    .menu-icon, .back-icon {
        margin-left: -0.75rem;
    }

  //button
  button {
    font-family: $font-stack;
  }

/*
  //nav
  y-nav, [is="y-nav"] {
    background: $tint-color;
    color: $bar-light-color;
  }

  //lists
  y-list-item, [is="y-list-item"] {
    border-bottom: 1px solid $tint-border-color;
    border-right: 1px solid $tint-border-color;
  }

  y-list-actions, [is="y-list-actions"] {
    background-color: $tint-active-color-darker;
  }

  y-list-contents, [is="y-list-contents"] {
    &:active, &:focus {
      background-color: $tint-active-color;
    }
  }

  y-indicator, [is="y-indicator"] {
    color: $tint-color;
    &:before {
      background-color: $tint-color;
    }
  }

  y-list-heading, [is="y-list-heading"] {
      color: $list-heading-text-color;
  }
  .list-indicator-icon {
    margin-right: -1rem;
    color: $tint-color;
  }

  y-text-container, [is="y-text-container"], .y-text-container {
    color: $text-color;
  }

  // alerts
  y-alert-container, [is="y-alert-container"] {
    y-alert-dialog, [is="y-alert-dialog"] {
      h1 {
        background-color: $tint-color;
        color: $bar-light-color;
      }

      button {
        border-top: 1px solid $tint-border-color;
      }
    }
  }
*/
    // animations
    //
    // view        -100<----0 leaving    0<----100 entering
    //                          in                    in
    //             entering -100---->0   leaving 0---->100
    //                out                  out
    //
    // setup
    %animation-timing {
        transition: transform .3s linear;
        visibility: visible;
    }

    .default-anims-view-leave-in, .default-anims-view-leave-out,
    .default-anims-view-enter-in, .default-anims-view-enter-out {
        @extend %animation-timing;

        y-nav *, [is="y-nav"] * {
            transition: opacity .3s linear;
        }
    }

    .default-anims-split-enter, .default-anims-split-leave,
    .default-animd-split-enter, .default-animd-split-leave {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            @extend %animation-timing;
        }
    }

    .default-anims-view-leave-out, .default-anims-view-leave-in {
        y-nav *, [is="y-nav"] * {
            opacity: 1;
        }
    }

    .default-anims-view-enter-in, .default-anims-view-enter-out {
        y-nav *, [is="y-nav"] * {
            opacity: 0;
        }
    }

    .default-anims-view-enter-in {
        transform: translate3d(100%, 0, 20px);
    }

    .default-anims-view-leave-out {
        transform: translate3d(0, 0, 20px);
    }

    .default-anims-view-enter-out {
        transform: translate3d(-100%, 0, 10px);
    }

    .default-anims-view-leave-in {
        transform: translate3d(0, 0, 10px);
    }

    // split       stage       left            right
    //             enter       -240px --> 0    o --> 240px
    //             leave       0 --> -240px    240px --> 0
    .default-anims-split-enter {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            &:first-child { transform: translate3d(-240px, 0, 15px); }
            &:last-child { transform: translate3d(0, 0, 10px); }
        }
    }

    .default-anims-split-leave {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            &:first-child { transform: translate3d(0, 0, 15px); }
            &:last-child { transform: translate3d(0, 0, 10px); }
        }
    }

    // perform/hold animation
    .default-animd-view-leave-out, .default-animd-view-leave-in, .default-animh-view-leave-out, .default-animh-view-leave-in {
        y-nav *, [is="y-nav"] * {
            opacity: 0;
        }
    }

    .default-animd-view-enter-in, .default-animd-view-enter-out, .default-animh-view-enter-in, .default-animh-view-enter-out {
        y-nav *, [is="y-nav"] * {
            opacity: 1;
        }
    }

    .default-animd-view-enter-in, .default-animh-view-enter-in {
        transform: translate3d(0, 0, 20px);
    }

    .default-animd-view-leave-in, .default-animh-view-leave-in {
        transform: translate3d(-100%, 0, 10px);
    }

    .default-animd-view-enter-out, .default-animh-view-enter-out {
        transform: translate3d(0, 0, 10px);
    }

    .default-animd-view-leave-out, .default-animh-view-leave-out {
        transform: translate3d(100%, 0, 20px);
    }

    .default-animh-view-enter-in, .default-animh-view-enter-out {
        visibility: visible;
    }

    .default-animh-view-leave-in, .default-animh-view-leave-out {
        visibility: hidden;
    }

    .default-animd-split-enter, .default-animh-split-enter {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            &:first-child { transform: translate3d(0, 0, 15px); }
            &:last-child { transform: translate3d(0, 0, 10px); }
        }
    }

    .default-animd-split-leave, .default-animh-split-leave {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            &:first-child { transform: translate3d(-240px, 0, 15px); }
            &:last-child { transform: translate3d(0, 0, 10px); }
        }
    }

    .default-anims-split-enter, .default-anims-split-leave,
    .default-animd-split-enter, .default-animd-split-leave,
    .default-animh-split-enter, .default-animh-split-leave {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            &:first-child { position: absolute; }
        }
    }

    // visibility
    .default-visible {
        visibility: visible;
    }

    .default-not-visible {
        visibility: hidden;
    }

    .default-displayed {
        // no rules
    }

    .default-not-displayed {
        display: none;
    }

    // about
    .AboutViewController {
        div.y-flex {
            margin: auto auto;
        }
        .name {
            font-weight: bold;
            flex: 2 !important;
        }
        .comment {
            text-align: center;
        }
        .licenseType {
            text-align: right;
        }
        h1 {
            font-size: 150%;
            font-weight: bold;
        }
    }

    .SettingsViewController {
        div.y-flex {
            margin: auto auto;
        }
        .name {
        }
        .value {
            font-weight: bold;
            text-align: right;
            select {
                -webkit-appearance: none;
                border: 0;
                font-weight: bold;
                width: 100%;
                font-size: 1rem;
                background-color: transparent;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding-left: 50%;
            }
        }
    }

    // search results
    .SearchViewController {
        p.search-info {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            font-style: italic;
            font-size: 150%;
            line-height: normal;
            opacity: 0.66;
            text-align: center;
            padding: 2rem 0;
        }
        .fav-icon, .note-icon {
            transition: fill 0.3s ease-in-out;
            fill: $bar-light-color;
        }
        .fav-icon[data-fav=yes] {
            fill: $tint-color-contrast;
        }
    }

    .NotesViewController {
        textarea {
            flex: 1 1 auto;
            user-select: text !important;
            border: 0;
            padding: 1rem;
            font-size: 1rem;
            background-color: transparent;
        }
    }

    // dictionary definitions
    .DefinitionViewController {
        .fav-icon, .note-icon {
            transition: fill 0.3s ease-in-out;
            fill: $bar-light-color;
        }
        .fav-icon[data-fav=yes] {
            fill: $tint-color-contrast;
        }
        [is="y-scroll-container"] {
            display: flex;
            flex-direction: column;
            [is="y-text-container"] {
                flex: 1 0 auto;
                user-select: text;
            }
        }
        ol {
            list-style-type: none;
            counter-reset: definition-list;
            margin-left: 1rem;
            li {
                &:before {
                    content: counter(definition-list) '.';
                    counter-increment: definition-list;
                    font-weight: bold;
                    margin-left: -3rem;
                    display: inline-block;
                    width: 3rem;
                    text-align: right;
                }
                color: $text-color;
                margin: 1rem 2rem;
                span.pos {
                    font-style: italic;
                    color: $lighter-text-color;
                    margin-left: 0.5rem;
                    display: inline-block;
                }
                span.def {
                    display: inline-block;
                    margin-left: 1.5rem;
                }
            }
        }
    }

}
