.theme-default {
  $font-stack: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  $dp2: "only screen and (-webkit-min-device-pixel-ratio: 1.01), only screen and (min-resolution: 1.01dppx), only screen and (min-resolution: 191dpi)";
  $tint-color: #EA1;
  $tint-active-color: #EEEAE1;
  $tint-border-color: #DEDAD1;
  $tint-active-color-darker: #CECAC1;
  $view-background-color: #EEEAE1;
  $alert-background-color: #FFF;
  $bar-light-color: #FFF;

  font-family: $font-stack;

  //button
  button {
    font-family: $font-stack;
  }

  //nav
  y-nav, [is="y-nav"] {
    background: $tint-color;
    color: $bar-light-color;
  }

  //lists
  y-list-item, [is="y-list-item"] {
    border-bottom: 1px solid $tint-border-color;
    border-right: 1px solid $tint-border-color;
  }

  y-list-actions, [is="y-list-actions"] {
    background-color: $tint-active-color-darker;
  }

  y-list-contents, [is="y-list-contents"] {
    &:active, &:focus {
      background-color: $tint-active-color;
    }
  }

  y-indicator, [is="y-indicator"] {
    color: $tint-color;
    &:before {
      background-color: $tint-color;
    }
  }

  // alerts
  y-alert-container, [is="y-alert-container"] {
    y-alert-dialog, [is="y-alert-dialog"] {
      h1 {
        background-color: $tint-color;
        color: $bar-light-color;
      }

      button {
        border-top: 1px solid $tint-border-color;
      }
    }
  }

    // animations
    //
    // view        -100<----0 leaving    0<----100 entering
    //                          in                    in
    //             entering -100---->0   leaving 0---->100
    //                out                  out
    //
    // setup
    %animation-timing {
        transition: transform .3s linear;
        visibility: visible;
    }

    .default-anims-view-leave-in, .default-anims-view-leave-out,
    .default-anims-view-enter-in, .default-anims-view-enter-out {
        @extend %animation-timing;

        y-nav *, [is="y-nav"] * {
            transition: opacity .3s linear;
        }
    }

    .default-anims-split-enter, .default-anims-split-leave,
    .default-animd-split-enter, .default-animd-split-leave {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            @extend %animation-timing;
        }
    }

    .default-anims-view-leave-out, .default-anims-view-leave-in {
        y-nav *, [is="y-nav"] * {
            opacity: 1;
        }
    }

    .default-anims-view-enter-in, .default-anims-view-enter-out {
        y-nav *, [is="y-nav"] * {
            opacity: 0;
        }
    }

    .default-anims-view-enter-in {
        transform: translate3d(100%, 0, 20px);
    }

    .default-anims-view-leave-out {
        transform: translate3d(0, 0, 20px);
    }

    .default-anims-view-enter-out {
        transform: translate3d(-100%, 0, 10px);
    }

    .default-anims-view-leave-in {
        transform: translate3d(0, 0, 10px);
    }

    // split       stage       left            right
    //             enter       -240px --> 0    o --> 240px
    //             leave       0 --> -240px    240px --> 0
    .default-anims-split-enter {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            &:first-child { transform: translate3d(-240px, 0, 15px); }
            &:last-child { transform: translate3d(0, 0, 10px); }
        }
    }

    .default-anims-split-leave {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            &:first-child { transform: translate3d(0, 0, 15px); }
            &:last-child { transform: translate3d(0, 0, 10px); }
        }
    }

    // perform/hold animation
    .default-animd-view-leave-out, .default-animd-view-leave-in, .default-animh-view-leave-out, .default-animh-view-leave-in {
        y-nav *, [is="y-nav"] * {
            opacity: 0;
        }
    }

    .default-animd-view-enter-in, .default-animd-view-enter-out, .default-animh-view-enter-in, .default-animh-view-enter-out {
        y-nav *, [is="y-nav"] * {
            opacity: 1;
        }
    }

    .default-animd-view-enter-in, .default-animh-view-enter-in {
        transform: translate3d(0, 0, 20px);
    }

    .default-animd-view-leave-in, .default-animh-view-leave-in {
        transform: translate3d(-100%, 0, 10px);
    }

    .default-animd-view-enter-out, .default-animh-view-enter-out {
        transform: translate3d(0, 0, 10px);
    }

    .default-animd-view-leave-out, .default-animh-view-leave-out {
        transform: translate3d(100%, 0, 20px);
    }

    .default-animh-view-enter-in, .default-animh-view-enter-out {
        visibility: visible;
    }

    .default-animh-view-leave-in, .default-animh-view-leave-out {
        visibility: hidden;
    }

    .default-animd-split-enter, .default-animh-split-enter {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            &:first-child { transform: translate3d(0, 0, 15px); }
            &:last-child { transform: translate3d(0, 0, 10px); }
        }
    }

    .default-animd-split-leave, .default-animh-split-leave {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            &:first-child { transform: translate3d(-240px, 0, 15px); }
            &:last-child { transform: translate3d(0, 0, 10px); }
        }
    }
    
    .default-anims-split-enter, .default-anims-split-leave,
    .default-animd-split-enter, .default-animd-split-leave,
    .default-animh-split-enter, .default-animh-split-leave {
        y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
            &:first-child { position: absolute; }
        }
    }

    // visibility
    .default-visible {
        visibility: visible;
    }

    .default-not-visible {
        visibility: hidden;
    }

    .default-displayed {
        // no rules
    }

    .default-not-displayed {
        display: none;
    }

}
