// animations
//
// view        -100<----0 leaving    0<----100 entering
//                          in                    in
//             entering -100---->0   leaving 0---->100
//                out                  out
//
// setup
%animation-timing {
    transition: transform .3s linear;
    visibility: visible;
}

.anims-view-leave-in, .anims-view-leave-out,
.anims-view-enter-in, .anims-view-enter-out {
    @extend %animation-timing;

    //y-nav *, [is="y-nav"] * {
    //    transition: opacity .3s linear;
    //}
}

.anims-split-enter, .anims-split-leave,
.animd-split-enter, .animd-split-leave {
    y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
        @extend %animation-timing;
    }
}

.anims-view-leave-out, .anims-view-leave-in {
    //y-nav *, [is="y-nav"] * {
    //    opacity: 1;
    //}
}

.anims-view-enter-in, .anims-view-enter-out {
    //y-nav *, [is="y-nav"] * {
    //    opacity: 0;
    //}
}

.anims-view-enter-in {
    transform: translate3d(100%, 0, 20px);
}

.anims-view-leave-out {
    transform: translate3d(0, 0, 20px);
}

.anims-view-enter-out {
    transform: translate3d(-100%, 0, 10px);
}

.anims-view-leave-in {
    transform: translate3d(0, 0, 10px);
}

// split       stage       left            right
//             enter       -240px --> 0    o --> 240px
//             leave       0 --> -240px    240px --> 0
.anims-split-enter {
    y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
        &:first-child { transform: translate3d(-240px, 0, 15px); }
        &:last-child {
            transform: translate3d(0, 0, 10px);
            transition: filter 0.3s ease-in-out;
            filter: brightness(1);
        }
    }
}

.anims-split-leave {
    y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
        &:first-child { transform: translate3d(0, 0, 15px); }
        &:last-child {
            transform: translate3d(0, 0, 10px);
            transition: filter 0.3s ease-in-out;
            filter: brightness(0.75);
        }
    }
}

// perform/hold animation
.animd-view-leave-out, .animd-view-leave-in, .animh-view-leave-out, .animh-view-leave-in {
    //y-nav *, [is="y-nav"] * {
    //    opacity: 0;
    //}
}

.animd-view-enter-in, .animd-view-enter-out, .animh-view-enter-in, .animh-view-enter-out {
    //y-nav *, [is="y-nav"] * {
    //    opacity: 1;
    //}
}

.animd-view-enter-in, .animh-view-enter-in {
    transform: translate3d(0, 0, 20px);
}

.animd-view-leave-in, .animh-view-leave-in {
    transform: translate3d(-100%, 0, 10px);
}

.animd-view-enter-out, .animh-view-enter-out {
    transform: translate3d(0, 0, 10px);
}

.animd-view-leave-out, .animh-view-leave-out {
    transform: translate3d(100%, 0, 20px);
}

.animh-view-enter-in, .animh-view-enter-out {
    visibility: visible;
}

.animh-view-leave-in, .animh-view-leave-out {
    visibility: hidden;
}

.animd-split-enter, .animh-split-enter {
    y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
        &:first-child { transform: translate3d(0, 0, 15px); }
        &:last-child {
            transform: translate3d(0, 0, 10px);
            transition: filter 0.3s ease-in-out;
            filter: brightness(0.75);
            &:after {
                content: ' ';
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
                z-index:2;
                transform: translate3d(0,0,12px);
            }
        }
    }
}

.animd-split-leave, .animh-split-leave {
    y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
        &:first-child { transform: translate3d(-240px, 0, 15px); }
        &:last-child {
            transform: translate3d(0, 0, 10px);
            transition: filter 0.3s ease-in-out;
            filter: brightness(1);
        }
    }
}

.anims-split-enter, .anims-split-leave,
.animd-split-enter, .animd-split-leave,
.animh-split-enter, .animh-split-leave {
    y-split-view-wrapper, [is="y-split-view-wrapper"], .y-split-view-wrapper {
        &:first-child { position: absolute; }
    }
}

// visibility
.visible {
    visibility: visible;
}

.not-visible {
    visibility: hidden;
}

.displayed {
    // no rules
}

.not-displayed {
    display: none;
}


