@import "reset";

$font-stack: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
$dp2: "only screen and (-webkit-min-device-pixel-ratio: 1.01 ), only screen and (min-resolution: 1.01dppx), only screen and (min-resolution: 191dpi)";
$tint-color: #EA1;
$tint-active-color: #EEEAE1;
$tint-border-color: #DEDAD1;
$tint-active-color-darker: #CECAC1;

@import "./lib/base";
@import "./lib/button";
@import "./lib/container";
@import "./lib/bar";
@import "./lib/bar-navigation";
@import "./lib/glyphs";
@import "./lib/list";
@import "./lib/alert";

@import "./lib/navigation-view-controller";

@import "./themes/default";
