.DefinitionViewController {
    .fav-icon, .note-icon {
        transition: fill 0.3s ease-in-out;
        fill: $bar-light-color;
    }
    .fav-icon[data-fav=yes],
    .note-icon[data-note=yes] {
        fill: $tint-color-contrast;
    }
    [is="y-scroll-container"] {
        display: flex;
        flex-direction: column;
        [is="y-text-container"] {
            user-select: text;
            flex: 0 0 auto;
        }
        [is="y-text-container"]:nth-child(2) {
            flex: 1 0 auto;
        }
    }
    ol {
        list-style-type: none;
        counter-reset: definition-list;
        margin-left: 1rem;
        li {
            &:before {
                content: counter(definition-list) '.';
                counter-increment: definition-list;
                display: inline-block;
                min-width: 1.25rem;
                text-align: right;
                font-style: italic;
                color: $tint-color-contrast;
            }
            color: $text-color;
            padding: 1rem 2rem;
            margin: 0 auto;
            max-width: 45rem;
            span.pos {
                font-style: italic;
                color: $lighter-text-color;
                margin: 0 0.5rem;
            }
            span.def {
            }

            &:nth-child(even) {
                background-color: $list-background-color-alt;
            }
        }
    }
    h2 {
        font-weight: bold;
        font-size: 200%;
        margin: 1rem;
        margin-bottom: 0;
        color: $text-color;
    }
}

