        body {
            background-color: white;
            margin: 0;
            padding: 0;
        }
        .icon {
            width: 32px;
            height: 32px;
            background: url('./calendar.png') no-repeat center center / 32px 32px;
            display: inline-block;
        }
        .icon-masked {
            width: 32px;
            height: 32px;
            background-color: brown;
            -webkit-mask: url('./calendar.png') no-repeat center center / 32px 32px;
            z-webkit-mask-size: 32px 32px;
            display: inline-block;
        }
        .icon-img {
            width: 32px;
            height: 32px;
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.01),
        only screen and (min-resolution: 1.01dppx),
        only screen and (min-resolution: 193dpi)
        {
            .icon {
                background-image: url('./calendar@2x.png');
            }
            .icon-masked {
                -webkit-mask-image: url('./calendar@2x.png');
            }
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 2.01),
        only screen and (min-resolution: 2.01dppx),
        only screen and (min-resolution: 289dpi)
        {
            .icon {
                background-image: url('./calendar@3x.png');
            }
            .icon-masked {
                -webkit-mask-image: url('./calendar@3x.png');
            }
        }
