//
// UI Theme
///////////////////////////////////////////////////////////////////////////////

// Global values

// base units
$ui-base-unit: 4px;
$ui-icon-size: $ui-base-unit * 8;
$ui-button-size: $ui-base-unit * 10;
$ui-gap: $ui-base-unit * 2;
$ui-gutter: $ui-gap * 2;
$ui-tempo: $ui-base-unit * 12;

// widget heights
$bar-height: $ui-tempo;

// fonts
$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$content-text-font: ($ui-base-unit * 4) $font;
$text-title-size: $ui-base-unit * 5;
$text-title-weight: bold;

// colors
$primary-color: #3399CC;
$augment-color: #03090C;
$black-color: #303030;
$gray-color: #808080;

// content text
$content-text-color: $black-color + $augment-color;

// views
$view-background-color: #E0E0E0 + $augment-color;

// bars
$bar-background-color: rgba($primary-color, .95);
$bar-text-color: white;

// borders
$thin-border: 1px solid $gray-color + $augment-color;


